@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --button-background-color: #4caf50;
  --button-hover-background-color: #45a049;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #ffffff;
    --button-background-color: #008000;
    --button-hover-background-color: #007800;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--button-hover-background-color);
}

.success-message {
  display: none;
}
